<main>
  <div class="position-relative">
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
  <div class="container pt-lg pb-250">
    <div class="row text-center justify-content-center">
      <div class="col-lg-10">
        <h2 class="display-3 text-blue">Created NFTs</h2>
      </div>
    </div>
  </div>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div _ngcontent-c11="">
                    <img _ngcontent-c11="" alt="Raised image" class="img-fluid rounded shadow-lg" src="./assets/img/theme/10.png" style="width: 800px;">
                  </div>
                  <br>
                  <h6 class="text-primary text-uppercase">Pixel Bored Ape 10/50</h6>
                  <p class="description mt-3">Price: 0.18 BNB ≈ $ 72.31</p>
                  <div>
                    <h6>
                      <span class="badge badge-pill badge-primary">created by </span>
                      Ahmed
                    </h6>
                  </div>
                <div>
                  <h6>
                  <span class="badge badge-pill badge-primary">soled by </span>
                  Amine 
                  </h6>
                </div> 
                  <a href="javascript:void(0)" class="btn btn-primary mt-4">Edit</a>
                  <a href="javascript:void(0)" class="btn btn-primary mt-4">Delete</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div _ngcontent-c11="">
                    <img _ngcontent-c11="" alt="Raised image" class="img-fluid rounded shadow-lg" src="./assets/img/theme/11.jpeg" style="width: 800px;">
                  </div>
                  <br>
                  <h6 class="text-primary text-uppercase">Pixel Bored Ape 10/50</h6>
                  <p class="description mt-3">Price: 0.18 BNB ≈ $ 72.31</p>
                  <div>
                    <h6>
                      <span class="badge badge-pill badge-primary">created by </span>
                      Ahmed
                    </h6>
                  </div>
                <div>
                  <h6>
                  <span class="badge badge-pill badge-primary">soled by </span>
                  Amine 
                  </h6>
                </div> 
                  <a href="javascript:void(0)" class="btn btn-primary mt-4">Edit</a>
                  <a href="javascript:void(0)" class="btn btn-primary mt-4">Delete</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div _ngcontent-c11="">
                    <img _ngcontent-c11="" alt="Raised image" class="img-fluid rounded shadow-lg" src="./assets/img/theme/9.jpeg" style="width: 800px;">
                  </div>
                  <br>
                  <h6 class="text-primary text-uppercase">Pixel Bored Ape 10/50</h6>
                  <p class="description mt-3">Price: 0.18 BNB ≈ $ 72.31</p>
                  <div>
                    <h6>
                      <span class="badge badge-pill badge-primary">created by </span>
                      Ahmed
                    </h6>
                  </div>
                <div>
                  <h6>
                  <span class="badge badge-pill badge-primary">soled by </span>
                  Amine 
                  </h6>
                </div> 
                  <a href="javascript:void(0)" class="btn btn-primary mt-4">Edit</a>
                  <a href="javascript:void(0)" class="btn btn-primary mt-4">Delete</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg bg-gradient-default">
    <div class="container pt-lg pb-250">
      <div class="row text-center justify-content-center">
        <div class="col-lg-10">
          <h2 class="display-3 text-white">Purchased NFTs</h2>
        </div>
      </div>
    </div>
    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div _ngcontent-c11="">
                      <img _ngcontent-c11="" alt="Raised image" class="img-fluid rounded shadow-lg" src="./assets/img/theme/8.png" style="width: 800px;">
                    </div>
                    <br>
                    <h6 class="text-primary text-uppercase">Pixel Bored Ape 10/50</h6>
                    <p class="description mt-3">Price: 0.18 BNB ≈ $ 72.31</p>
                    <div>
                      <h6>
                        <span class="badge badge-pill badge-primary">created by </span>
                        Ahmed
                      </h6>
                    </div>
                  <div>
                    <h6>
                    <span class="badge badge-pill badge-primary">soled by </span>
                    Amine 
                    </h6>
                  </div>  
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">Edit</a>
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">Delete</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div _ngcontent-c11="">
                      <img _ngcontent-c11="" alt="Raised image" class="img-fluid rounded shadow-lg" src="./assets/img/theme/7.jpeg" style="width: 800px;">
                    </div>
                    <br>
                    <h6 class="text-primary text-uppercase">Pixel Bored Ape 10/50</h6>
                    <p class="description mt-3">Price: 0.18 BNB ≈ $ 72.31</p>
                    <div>
                      <h6>
                        <span class="badge badge-pill badge-primary">created by </span>
                        Ahmed
                      </h6>
                    </div>
                  <div>
                    <h6>
                    <span class="badge badge-pill badge-primary">soled by </span>
                    Amine 
                    </h6>
                  </div>   
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">Edit</a>
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">Delete</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div _ngcontent-c11="">
                      <img _ngcontent-c11="" alt="Raised image" class="img-fluid rounded shadow-lg" src="./assets/img/theme/6.png" style="width: 800px;">
                    </div>
                    <br>
                    <h6 class="text-primary text-uppercase">Pixel Bored Ape 10/50</h6>
                    <p class="description mt-3">Price: 0.18 BNB ≈ $ 72.31</p>
                    <div>
                      <h6>
                        <span class="badge badge-pill badge-primary">created by </span>
                        Ahmed
                      </h6>
                    </div>
                  <div>
                    <h6>
                    <span class="badge badge-pill badge-primary">soled by </span>
                    Amine 
                    </h6>
                  </div>  
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">Edit</a>
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">Delete</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
</main>
