<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <img src="./assets/img/brand/argon-white.png">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="./assets/img/brand/white.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item">
          <a class="nav-link-inner--text" [routerLink]="['/landing']">
          <i class="ni ni-collection d-lg-none"></i>
            <span style="color:white" class="nav-link-inner--text">&nbsp;&nbsp;MyNFT&nbsp;&nbsp;</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link-inner--text" [routerLink]="['/user-profile']">
          <i class="ni ni-collection d-lg-none"></i>
            <span style="color:white" class="nav-link-inner--text">&nbsp;&nbsp;Profile&nbsp;&nbsp;</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link-inner--text" [routerLink]="['/login']">
          <i class="ni ni-collection d-lg-none"></i>
            <span style="color:white" class="nav-link-inner--text">&nbsp;&nbsp;Login&nbsp;&nbsp;</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link-inner--text" [routerLink]="['/register']">
          <i class="ni ni-collection d-lg-none"></i>
            <span style="color:white" class="nav-link-inner--text">&nbsp;&nbsp;Register&nbsp;&nbsp;</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
