<main>
  <div class="position-relative">
    <section class="section section-lg section-hero section-shaped">
      <div class="shape shape-style-1 bg-gradient-default">
        <span class="span-150"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <img src="./assets/img/brand/blue.png" style="width: 3000px;" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <div class="container pt-lg pb-250">
      <div class="row text-center justify-content-center">
        <div class="col-lg-10">
          <h2 class="display-3 text-blue">Marketplace NFTs</h2>
        </div>
      </div>
    </div>
    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div _ngcontent-c11="">
                      <img _ngcontent-c11="" alt="Raised image" class="img-fluid rounded shadow-lg" src="./assets/img/theme/10.png" style="width: 800px;">
                    </div>
                    <br>
                    <h6 class="text-primary text-uppercase">Pixel Bored Ape 10/50</h6>
                    <p class="description mt-3">Price: 0.18 BNB ≈ $ 72.31</p>
                    <div>
                      <span class="badge badge-pill badge-primary">created by </span>
                    </div>
                  <div>
                    <span class="badge badge-pill badge-primary">soled by </span>
                  </div>  
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div _ngcontent-c11="">
                      <img _ngcontent-c11="" alt="Raised image" class="img-fluid rounded shadow-lg" src="./assets/img/theme/5.jpeg" style="width: 800px;">
                    </div>
                    <br>
                    <h6 class="text-primary text-uppercase">Pixel Bored Ape 10/50</h6>
                    <p class="description mt-3">Price: 0.18 BNB ≈ $ 72.31</p>
                    <div>
                      <span class="badge badge-pill badge-primary">created by </span>
                    </div>
                  <div>
                    <span class="badge badge-pill badge-primary">soled by </span>
                  </div>  
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div _ngcontent-c11="">
                      <img _ngcontent-c11="" alt="Raised image" class="img-fluid rounded shadow-lg" src="./assets/img/theme/4.png" style="width: 800px;">
                    </div>
                    <br>
                    <h6 class="text-primary text-uppercase">Pixel Bored Ape 10/50</h6>
                    <p class="description mt-3">Price: 0.18 BNB ≈ $ 72.31</p>
                    <div>
                      <span class="badge badge-pill badge-primary">created by </span>
                    </div>
                  <div>
                    <span class="badge badge-pill badge-primary">soled by </span>
                  </div>  
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">Buy Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div _ngcontent-c11="">
                      <img _ngcontent-c11="" alt="Raised image" class="img-fluid rounded shadow-lg" src="./assets/img/theme/3.png" style="width: 800px;">
                    </div>
                    <br>
                    <h6 class="text-primary text-uppercase">Pixel Bored Ape 10/50</h6>
                    <p class="description mt-3">Price: 0.18 BNB ≈ $ 72.31</p>
                    <div>
                      <span class="badge badge-pill badge-primary">created by </span>
                    </div>
                  <div>
                    <span class="badge badge-pill badge-primary">soled by </span>
                  </div>  
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div _ngcontent-c11="">
                      <img _ngcontent-c11="" alt="Raised image" class="img-fluid rounded shadow-lg" src="./assets/img/theme/2.png" style="width: 800px;">
                    </div>
                    <br>
                    <h6 class="text-primary text-uppercase">Pixel Bored Ape 10/50</h6>
                    <p class="description mt-3">Price: 0.18 BNB ≈ $ 72.31</p>
                    <div>
                      <span class="badge badge-pill badge-primary">created by </span>
                    </div>
                  <div>
                    <span class="badge badge-pill badge-primary">soled by </span>
                  </div>  
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div _ngcontent-c11="">
                      <img _ngcontent-c11="" alt="Raised image" class="img-fluid rounded shadow-lg" src="./assets/img/theme/1.jpeg" style="width: 800px;">
                    </div>
                    <br>
                    <h6 class="text-primary text-uppercase">Pixel Bored Ape 10/50</h6>
                    <p class="description mt-3">Price: 0.18 BNB ≈ $ 72.31</p>
                    <div>
                      <span class="badge badge-pill badge-primary">created by </span>
                    </div>
                  <div>
                    <span class="badge badge-pill badge-primary">soled by </span>
                  </div>  
                    <a href="javascript:void(0)" class="btn btn-primary mt-4">Buy Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container pt-lg pb-250">
      <div class="row text-center justify-content-center">
      </div>
    </div>
  <section class="section section-lg pt-lg-0 section-contact-us">
    <div class="container">
      <div class="row justify-content-center mt--300">
        <div class="col-lg-8">
          <div class="card bg-gradient-secondary shadow">
            <div class="card-body p-lg-5">
              <h4 class="mb-1">Contact us</h4>
              <p class="mt-0">Your feedback is very important to us.</p>
              <div class="form-group mt-5" [ngClass]="{'focused':focus===true}">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user-circle-o"></i></span>
                  </div>
                  <input class="form-control" placeholder="Your name" type="text" (focus)="focus=true" (blur)="focus=false">
                </div>
              </div>
              <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input class="form-control" placeholder="Email address" type="email" (focus)="focus1=true" (blur)="focus1=false">
                </div>
              </div>
              <div class="form-group mb-4">
                <textarea class="form-control form-control-alternative" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
              </div>
              <div>
                <button type="button" class="btn btn-default btn-round btn-block btn-lg">Send feedback</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
</main>
